<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="mb-3">
        <img src="/secure-icon.png" alt="icon" width="20%" />
      </h1>

      <% if (messages && messages.length > 0) { %>
      <div class="error" id="error-msg" style="color: red; font-size: 20px">
        <%= messages[0] %>
      </div>
      <% } %>

      <script>
        // message disappear after 1.5 second
        setTimeout(() => {
          const msg = document.getElementById("error-msg");
          if (msg) msg.style.display = "none";
        }, 1500);
      </script>

      <h2>Login</h2>
      <form action="/auth/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p style="margin: 0">OR</p>
      <!-- Github OAuth login -->
      <form action="/auth/githubLogin" method="get">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          style="background-color: #5a6268"
        >
          Login with Github
        </button>
      </form>
      <p class="mt-4">New User? <a href="/auth/register">Register</a></p>
      <p>Forgot Password? <a href="/auth/forgot">Reset</a></p>
    </div>
  </div>
</div>
